.App {
  margin: 1rem;
}

.navbar {
  background-color: hsla(0, 0%, 0%, 0.673);
  /* width: 300px; */
  height: 1.5rem;
  border-radius: 10px;
  margin: 1rem auto;
  padding: 5px;
  border: 1px solid hsla(0, 20%, 20%, 0.282);
  box-shadow: 1px 1px 1px rgb(128, 128, 128, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar div {
  padding: 5px;
}

.navbar div:hover {
  color: #c85000;
  cursor: pointer;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.coordonees {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.408);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(128, 128, 128, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coordonees:hover {
  background-color: rgb(255, 165, 0, 0.2);
}

.interaction {
  display: flex;
  align-items: center;
}
.interaction div {
  padding: 5px;
}

.favorite {
  width: 1rem;
}

.clicked {
  background-color: hsla(0, 72%, 54%, 0.714);
}

.modify-person {
  margin-left: 1rem;
}

.modify-person .add-person {
  border: 1px dotted hsla(0, 0%, 0%, 0.276);
}

.add-person {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.408);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(128, 128, 128, 0.3);
  display: flex;
}

.inputs-add-person {
  display: flex;
  flex-direction: column;
}

.form-person {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: flex;
  justify-content: space-between;
}

label div {
  margin-left: 1rem;
}

.btn {
  background-color: hsl(120, 80%, 40%);
  border: 0px;
  border-radius: 5px;
  color: white;
}
.btn:hover {
  background-color: hsl(120, 100%, 40%);
  border: 0px;
  border-radius: 5px;
  color: white;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.synthesis {
  text-align: center;
}
